<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<th:block th:fragment="headerLayout">
    <header class="logical_block">
        <div class="nav_icon"><img src="/img/header/hamburger.png" alt=""></div>
        <div class="nav_icon"><img src="/img/header/search.png" alt="" id="search-item"></div>
        <div class="phat_logo"><img src="/img/logos/header_logo.jpg" alt="" id="main-item"></div>
        <div class="nav_icon"><img src="/img/header/admin.png" alt="" id="admin-item"></div>
        <div class="nav_icon"><img src="/img/header/lock.png" alt=""></div>
    </header>
</th:block>
</body>
</html>