<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin portal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
<div class="wrapper">
    <aside id="side-bar">
        <div class="h-100">
            <ul>
                <li><a href="/admin/category">Категории</a></li>
                <li><a href="/admin/brand">Бренды</a></li>
                <li><a href="/admin/item">Товары</a></li>
            </ul>
        </div>
    </aside>

    <div class="main">
        <th:block th:if="${categories != null}"
                  th:insert="~{/layouts/admin/categoryTable.html::categoryTableLayout(${categories}, ${category})}"></th:block>
        <th:block th:if="${brands != null}"
                  th:insert="~{/layouts/admin/brandTable.html::brandTableLayout(${brand}, ${brands})}"></th:block>
        <th:block th:if="${items != null}"
                  th:insert="~{layouts/admin/itemTable.html::itemTableLayout(${item}, ${itemForSave}, ${items})}"></th:block>
    </div>
</div>
</body>
</html>